{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "pulsechat-app",
    "storage_bucket": "pulsechat-app.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:abcdef0123456789abcdef",
        "android_client_info": {
          "package_name": "com.aistudio.pulsechat.kvyqtz"
        }
      },
      "oauth_client": [
        {
          "client_id": "123456789012-abcdefghijklmnopqrstuvwxyz.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.aistudio.pulsechat.kvyqtz",
            "certificate_hash": "abcdef0123456789abcdef0123456789abcdef01"
          }
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyDummyKeyReplaceWithYourRealKeyFromFirebase"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
